<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="#"><h2>Employee Portal</h2></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-buttons">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home" routerLinkActive="active"
              ><b>Home</b>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="about" class="nav-link" routerLinkActive="active"
              ><b>About</b></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <b>contact Us</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><b>FaceBook</b> </a>
              <a class="dropdown-item" href="#"><b>Instagram</b></a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><b>Something else here</b></a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" routerLinkActive="active"
              ><b>Login</b></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-align-right"
              routerLink="register"
              routerLinkActive="active"
              ><b>Register</b></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
